h1,
.lottie-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

lottie-player {
    width: 300px;
    height: 300px;
}

section {
    width: calc(100%);
    top: 100px;
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    position: relative;
}
